/* 
===========================
all 
===========================
*/
html {
  scroll-behavior: smooth;
  font-family: "Times New Roman";
}

/* 
===========================
container
===========================
*/
.container {
  width: 100%;
}

.container .nav-title {
  font-size: 1.8em;
  text-align: center;
  padding-top: 2em;
  letter-spacing: 0.25em;
}

/* 
===========================
header
===========================
*/
.header {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 40vw minmax(10vw, auto) 40vw;
  grid-template-rows: 3.5em;
  grid-template-areas: "logo . nav";
}

.header .logo {
  grid-area: logo;
  font-size: 1.2em;
  display: flex;
  padding-left: 2em;
  align-items: center;
}
.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-drawer {
  grid-area: nav;
  display: none;
}

.nav li {
  display: inline-block;
}

.nav li,
a {
  text-decoration: none;
  list-style: none;
}

.nav a {
  padding: 0.7em;
  color: #fff;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  #nav-drawer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
}

/* 
===========================
home
===========================
*/
.home {
  background: url(../images/sushi-bg.jpg) center center no-repeat fixed;
  background-size: cover;
  height: calc(100vh - 3.5em);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home::before {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}

.home .inner-home {
  position: absolute;
  width: 100%;
  text-align: center;
}

.home .title {
  font-size: 3.5em;
  letter-spacing: 0.2em;
}

.home .subtitle {
  font-size: 1.9em;
  margin-top: 1em;
}
@media (max-width: 576px) {
  .home .title {
    font-size: 3em;
    letter-spacing: 0.1em;
  }
  .home .subtitle {
    font-size: 1.3em;
  }
}

/*  
===========================
menu 
===========================
*/
.menu {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
}

/* 
===========================
about
===========================
*/
.about {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

/* 
===========================
events 
===========================
*/
.events {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
}

/* 
===========================
location 
===========================
*/
.location {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

/* 
===========================
footer 
===========================
*/
.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 20vh;
}
.footer .copyright {
  text-align: center;
  padding-top: 5em;
}
